<h1>Interests#index</h1>
<%= link_to 'Add Interest', new_interest_path =%>
<br>
<% @interests.each do |interest| %>
<%= interest.name =%>
<br>
<% interest.users.each do |user| %>
<%= user.first_name %>
<% end %>
<br>
<%= image_tag interest.s3_url =%>
<br>
<% end %>
