<h1> this is the users bucket </h1>


<div class="wrapper" ng-controller="UserController as user">
    <ul>
        <li class="list4" ng-repeat="user in user.items track by $index">
        <div class="second4">
            <img class="picture" ng-src="{{user.s3_url}}">
            <br>
            <p class = "name">{{user.name}}
            </p>
            <p class= "city">{{user.city}}
            </p>
            <p class= "state">{{user.state}}
            </p>
            <p class= "zipcode">{{user.zipcode}}
            </p>
            <button ng-click="user.removeUserBucket(item)">delete
            </button>

            <div ng-controller="DetailController as bucketDtl">
                <button ng-click="bucketDtl.addBucketDetail(bucketdtl)">Add
                </button>
            </div>
        </div>
        </li>
    </ul>
</div>
