<h1> this is the bucket detail </h1>

<div class="wrapper" ng-controller="DetailController as bucketDtl">
    <ul>
        <li class="list5" ng-repeat="bucketDtl in bucketDtl.items track by $index">
          <div class="second5">
            <img class="picture1" ng-src="{{bucketDtl.s3_url}}">
            <br>
            <p class = "name">{{bucketDtl.name}}
            </p>
            <p class = "description">{{bucketDtl.description}}
            </p>
            <p class = "city">{{bucketDtl.city}}
            </p>
            <p class = "state">{{bucketDtl.state}}
            </p>
            <p class = "zipcode">{{bucketDtl.zipcode}}
            </p>
            <p class = "streetadd">{{bucketDtl.street_address}}
            </p>
            <button ng-click="bucketDtl.removeBucketDetail(item)">delete
            </button>
          </div>
        </li>
    </ul>
</div>

<style type="text/css">
    html {height: 100%}
    body {height: 100%; margin: 0; padding: 0 }
</style>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXhLdWtfqsjgTqiU-mLaGFMt2tHz8WCe8">
</script>

<section onload='initialize()'>
<div id="map-canvas" style="height:100%"></div>
</section>

<script type= "text/javascript">
    function initialize() {
        var mapOptions = {
            center:new google.maps.LatLng(-34.397, 150.644),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP

        };

        var map= new google.maps.map(document.getElementById('map_canvas'), mapOptions);
    }
</script>
