@import "bourbon/bourbon";

.header {
    border: 2px solid black;
}
.splashPage {
    border: 2px double black;
    margin: 20px;
    text-align: center;
}
.interestPage {
    text-align: center;
}
.picture {
    width: 200px;
    height: 200px;
}
.picture1 {
    width: 500px;
    height:200px;
}
#map_canvas {
    width: 50%;
    height:50%;
}
