<div class="interestItemPage">
    <h1 class="bucketItems"> Choose the items you'd like to add to your bucket..</h1>
</div>
<div class="searchFilter">
    <input ng-model="query" type="text" name="searchbox" placeholder="search interests...">
</div>

<div class="ItemsWrapper" ng-controller="BucketController as bucket">
    <ul>
      <li class="list3" ng-repeat="bucket in bucket.items | filter:query as results" ng-class="'odd'" ng-class"'even'">
        <div class="second3">
            <div ng-controller="DetailController as bucketDtl">
            <a href="" ng-click="bucketDtl.goToBucketDetail(bucket.id)">
                <img src="http://bucket-list-tiy-final.s3.amazonaws.com/items/{{bucket.image_file_name}}" class="bucketCard">
            </a>
            </div>
            <br>
            <p class ="name2">{{bucket.name}}</p>
            </div>

            <div ng-controller="UserController as user">
                <input type="checkbox" ng-click="user.addUserBucket(user.currentUser.id)">
            </div>
        </div>
      </li>
    </ul>
</div>

<div ng-controller="BucketController as bucket">
    <div class="submitButton2">
        <a href="" ng-click="bucket.goToBucketPage(bucket)">Submit</a>
    </div>
</div>
