<h1 class="itemDetail"> this is the bucket list item detail </h1>
<div class="wrapperDetail" ng-controller="DetailController as bucketDtl">
    <ul>
        <li class="list5">
          <div class="second5">
              <img src="http://bucket-list-tiy-final.s3.amazonaws.com/items/{{bucketDtl.singleItem.image_file_name}}" class='bucketCard'>
            <br>
            <p class="name3">{{bucketDtl.singleItem.name}}
            </p>
            <p class = "description">{{bucketDtl.singleItem.description}}
            </p>
            <p class = "streetadd">{{bucketDtl.singleItem.street_address}}
            </p>
            <p class = "city">{{bucketDtl.singleItem.city}}
            </p>
            <p class = "state">{{bucketDtl.singleItem.state}}
            </p>
            <p class = "zipcode">{{bucketDtl.singleItem.zipcode}}
            </p>

            <div ng-controller="UserController as user">
                <button ng-click="user.addUserBucket(bucketDtl.singleItem)">Add
                </button>
            </div>

          </div>
        </li>
    </ul>
</div>

    <div ng-controller="UserController as user">
        <div class="submitButton3">
            <a href="" ng-click="user.submitBucket()">Submit</a>
        </div>
    </div>


    <div class="commentforms" ng-controller="CommentController as comment">
        <h2 class="comments">Comments
        </h2>
        <form class='commentform'>
            <textarea cols="50" rows="4" ng-model="comment.content" placeholder="Add comment here">
            </textarea>
            <button class= "submitComment" ng-click= "comment.addComment(bucketDtl.singleItem, comment)">Post Comment
            </button>
        </form>


     <div class="comments">
       <ul>
            <li ng-repeat="comment in comment.getOneComment.comment">
                <p>{{comment.user_id}}
                </p>
                <p>{{comment.content}}
                </p>
            </li>
     </div>
     </div>
