<div class="interestPage">
    <h1> Choose a few you are interested in...</h1>
</div>

<div class="wrapper">
  <ul>
    <li class="list" ng-repeat="interest in interestCtrl.interests">
      <div class="addInterest" ng-controller="BucketController as bucket">
        <br>
      <p class = "name">{{interest.name}}
        <input type="checkbox" class="check" ng-click="bucket.addBucketItems(bucket)">
      </p>
      </div>
    </li>
   </ul>
</div>

<div class="submitButton">
    <a href="" ng-click="interestCtrl.goToItemPage(interest)">
        SUBMIT
    </a>
</div>
