<h1> this is the users bucket </h1>


<div class="wrapper" ng-controller="UserController as user">
    <ul>
        <li class="list4" ng-repeat='item in currentUser.bucket_list_items'>
        <div class="second4">
            <img src="http://bucket-list-tiy-final.s3.amazonaws.com/items/{{item.image_file_name}}" class="bucketCard">
            <br>
            <p class = "name">{{item.name}}
            </p>
            <button ng-click="user.removeUserBucket(item)">delete
            </button>

            <div ng-controller="DetailController as bucketDtl">
                <button ng-click="bucketDtl.addBucketDetail(bucketdtl)">Add
                </button>
            </div>
        </div>
        </li>
    </ul>
</div>


<!-- <li class="list4" ng-repeat="user in user.items track by $index" -->
